                                * {
                                    margin: 0;
                                    padding: 0;
                                }
                                /* header area start */
                                
                                .header {
                                    background: url(images/banner/banner3.png);
                                    height: 100vh;
                                    background-repeat: no-repeat;
                                    padding-left: 845px;
                                }
                                
                                .head-content {
                                    text-align: right;
                                    width: 525px;
                                    justify-content: right;
                                }
                                
                                .head-content h3 {
                                    color: #FFF;
                                    text-align: right;
                                    font-size: 65px;
                                    font-weight: 700;
                                    padding-top: 216px;
                                }
                                
                                .head-content p {
                                    color: #FFF;
                                    text-align: right;
                                    font-family: Work Sans;
                                    font-size: 16px;
                                    font-style: normal;
                                    font-weight: 400;
                                    line-height: 26px;
                                    margin-bottom: 53px;
                                }
                                
                                .header-btn {
                                    color: #005FAC;
                                    text-align: right;
                                    font-family: Work Sans;
                                    font-size: 20px;
                                    font-style: normal;
                                    font-weight: 600;
                                    line-height: normal;
                                    padding: 20px 25px;
                                }
                                /* header area end */